In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gkey

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tasiilaq,GL,2021-10-12 19:35:01,65.6145,-37.6368,33.96,62,0,0.22
1,1,Atuona,PF,2021-10-12 19:35:02,-9.8000,-139.0333,77.41,77,9,18.66
2,2,Sorland,NO,2021-10-12 19:35:03,67.6670,12.6934,41.07,63,100,15.68
3,3,Gazojak,TM,2021-10-12 19:35:04,41.1875,61.4036,51.08,31,0,11.45
4,4,Zhigansk,RU,2021-10-12 19:35:04,66.7697,123.3711,14.74,96,100,5.37

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [5]:
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

In [6]:
# Heatmap of temperature

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2021-10-12 19:35:02,-9.8000,-139.0333,77.41,77,9,18.66
6,6,Coahuayana,MX,2021-10-12 19:35:05,18.7333,-103.6833,89.08,62,99,5.32
14,14,Olinda,BR,2021-10-12 19:35:09,-8.0089,-34.8553,82.13,69,20,9.22
16,16,Albany,US,2021-10-12 19:33:21,42.6001,-73.9662,76.32,61,34,1.01
18,18,Acarau,BR,2021-10-12 19:35:10,-2.8856,-40.1200,82.17,69,94,20.47
22,22,Kloulklubed,PW,2021-10-12 19:35:12,7.0419,134.2556,83.26,78,76,11.23
23,23,Iracoubo,GF,2021-10-12 19:35:12,5.4802,-53.2011,84.09,72,61,11.72
27,27,Joao Pinheiro,BR,2021-10-12 19:35:14,-17.7425,-46.1725,78.57,63,92,2.98
30,30,Tabou,CI,2021-10-12 19:35:15,4.4230,-7.3528,77.36,90,29,6.96
32,32,Candolim,IN,2021-10-12 19:35:16,15.5181,73.7626,79.66,85,95,5.37

In [12]:
preferred_cities_df.count()

City_ID       154
City          154
Country       154
Date          154
Lat           154
Lng           154
Max Temp      154
Humidity      154
Cloudiness    154
Wind Speed    154
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1          Atuona      PF     77.41  -9.8000 -139.0333
6      Coahuayana      MX     89.08  18.7333 -103.6833
14         Olinda      BR     82.13  -8.0089  -34.8553
16         Albany      US     76.32  42.6001  -73.9662
18         Acarau      BR     82.17  -2.8856  -40.1200
22    Kloulklubed      PW     83.26   7.0419  134.2556
23       Iracoubo      GF     84.09   5.4802  -53.2011
27  Joao Pinheiro      BR     78.57 -17.7425  -46.1725
30          Tabou      CI     77.36   4.4230   -7.3528
32       Candolim      IN     79.66  15.5181   73.7626

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,77.41,-9.8000,-139.0333,Villa Enata
6,Coahuayana,MX,89.08,18.7333,-103.6833,El rranchito michuacan de ocampos
14,Olinda,BR,82.13,-8.0089,-34.8553,Hotel Albergue de Olinda
16,Albany,US,76.32,42.6001,-73.9662,
18,Acarau,BR,82.17,-2.8856,-40.1200,castelo pizzaria
...,...,...,...,...,...,...
537,Anage,BR,85.87,-14.6122,-41.1356,Lagoa Torta Anage Bahia
539,Matara,LK,78.91,5.9485,80.5353,Amaloh Boutique Resort
540,Kota Belud,MY,78.66,6.3510,116.4305,Tang Dynasty Lodge Kota Belud
547,Tautira,PF,84.22,-17.7333,-149.1500,Pension Oaoa
555,Sulphur Springs,US,79.48,33.1385,-95.6011,Clarion Pointe Sulphur Springs

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]